.chat-main
  .chat-main__group-info
    .group
      .group__name
        =@group.name
      .group__assign
        -@group.users.each do |user|
          = user.name
    = link_to "edit", class: "chat-main__group-info__edit" do
      Edit

  .chat-main__post-list
    = render @messages
  .chat-main__post-form
    = form_for [@group, @message], html: {class: "form"} do |f|
      .form__contents
        = f.text_field :content, class: 'form__contents__text', placeholder: 'type a message'
        = f.label :image, class: 'form__contents__image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'form__contents__image__file'
        = f.submit 'Send', class: 'submit'

